/* .center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

.center_component {
  position: absolute; 
  display:flex; 
  flex-direction:column;
  top:50%; left:50%; 
  border-radius: 4px; 
  background-color:#8a1e35; 
  padding:60px; 
  transform:translate(-50%, -50%); 
}

.maindiv{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  vertical-align: middle;
}

.saldodiv{
  background-color: #8a1e35;
  text-align: center;
  border-radius: 1rem;
  color: white;
  margin: 1rem 0;
  padding: 1rem;
}

.saldodivbutton{
  background-color: #8a1e35;
  text-align: center;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 0.2rem;
}

.saldodivbutton :hover{
  background-color: #8a1e35;
  border-radius: 1rem;
}

.saldodivbutton button{
  background-color: #8a1e35;
  text-align: center;
  color: white;
  font-size: large;
  border: 0;
}

.right{
  margin-top: 4.8rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.maindiv td{
  word-wrap:break-word;
}